include README
include AUTHORS
include COPYING
include MANIFEST.in
include *.rst
include *.sh
include *.txt
exclude karaage_cluster_tools/version.py
recursive-include sbin *
recursive-include etc *
recursive-include cron.d *
recursive-include logrotate.d *
recursive-include scripts *
