Source: karaage-cluster-tools
Section: python
Priority: optional
Maintainer: Brian May <bam@debian.org>
Build-Depends: debhelper (>=8.1.0), dh-python, python-flake8,
 python3-all, python3-setuptools, python3-alogger,
Standards-Version: 3.9.6
Homepage: https://github.com/Karaage-Cluster/karaage-cluster-tools
Vcs-Git: git://github.com/Karaage-Cluster/karaage-cluster-tools
Vcs-Browser: https://github.com/Karaage-Cluster/karaage-cluster-tools

Package: karaage-cluster-tools
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: Karaage cluster management tools
 This package contains programs to be installed on a cluster for management of
 the cluster.
 .
 At the present time it will automatically upload usage data to karaage for
 processing with the karaage-usage plugin.
